<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.ec1.order.mapper.OrderTrxMapper">
    <insert id="insertOrderHistory" parameterType="com.plateer.ec1.order.vo.request.RequestOrderVo">
        <selectKey keyProperty="logSeq" resultType="long" order="BEFORE">
            SELECT NEXTVAL('op_ord_clm_mnt_log_log_seq_seq')
        </selectKey>
        INSERT INTO op_ord_clm_mnt_log
        (
        log_seq, ord_no, req_pram, sys_reg_dtime, sys_regr_id, sys_mod_dtime, sys_modr_id
        )
        VALUES
        (
        #{logSeq}, #{orderNo}, (#{json})::json,
        now(), 'admin', now(), 'admin'
        )
    </insert>

    <update id="updateOrderHistory" parameterType="com.plateer.ec1.order.vo.OrderDataVo">
        UPDATE op_ord_clm_mnt_log
        SET ins_data = (#{json})::json,
            proc_ccd = #{procCcd}
          , sys_mod_dtime = now()
          , sys_modr_id = 'admin'
        WHERE log_seq = #{historyNo}
    </update>

    <insert id="insertOrderBase" parameterType="com.plateer.ec1.common.model.order.OpOrdBaseModel">
        INSERT INTO op_ord_base
            (ord_no,
             mbr_no,
             ord_nm,
             ord_sell_no,
             ord_addr,
             ord_addr_dtl,
             ord_tp_cd,
             ord_sys_ccd,
             ord_req_dtime,
             rfnd_bnk_ck,
             rfnd_acct_no,
             rfnd_acct_own_nm,
             sys_reg_dtime,
             sys_regr_id,
             sys_modr_id,
             sys_mod_dtime)
        VALUES
            (#{ordNo},
             #{mbrNo},
             #{ordNm},
             #{ordSellNo},
             #{ordAddr},
             #{ordAddrDtl},
             #{ordTpCd},
             #{ordSysCcd},
             #{ordReqDtime},
             #{rfndBnkCk},
             #{rfndAcctNo},
             #{rfndAcctOwnNm},
             now(),
             'admin',
             'admin',
             now())
    </insert>

    <insert id="insertOrderProduct" parameterType="java.util.List">

    </insert>

    <insert id="insertOrderClaim" parameterType="java.util.List">

    </insert>

    <insert id="insertOrderDelivery" parameterType="java.util.List">

    </insert>

    <insert id="insertOrderDeliveryInfo" parameterType="java.util.List">

    </insert>

    <insert id="insertOrderCost" parameterType="java.util.List">
        INSERT INTO op_ord_cost_info
            (ord_cst_no,
            dv_grp_no,
            aply_ccd,
            dv_amt_tp_cd,
            org_dv_amt,
            dv_bnf_amt,
            aply_dv_amt,
            dv_plc_tp_cd,
            ord_no,
            imtn_rsn_ccd,
            sys_reg_dtime,
            sys_regr_id,
            sys_mod_dtime,
            sys_modr_id)
        VALUES
        <foreach collection="list" item="item">
            (#{item.ordCstNo},
            #{item.dvGrpNo},
            #{item.aplyCcd},
            #{item.dvAmtTpCd},
            #{item.orgDvAmt},
            #{item.dvBnfAmt},
            #{item.aplyDvAmt},
            #{item.dvPlcTpCd},
            #{item.ordNo},
            #{item.imtnRsnCcd},
            now(),
            'admin',
            now(),
            'admin')
        </foreach>
    </insert>

    <insert id="insertOrderBenefit" parameterType="java.util.List">
        INSERT INTO op_ord_bnf_info
            (ord_bnf_no,
            ord_bnf_amt,
            prm_no,
            degr_ccd,
            cpn_knd_cd,
            cpn_iss_no,
            ord_cncl_bnf_amt,
            sys_reg_dtime,
            sys_regr_id,
            sys_mod_dtime,
            sys_modr_id)
        VALUES
        <foreach collection="list" item="item">
            (#{item.ordBnfNo},
            #{item.ordBnfAmt},
            #{item.prmNo},
            #{item.degrCcd},
            #{item.cpnKndCd},
            #{item.cpnIssNo},
            #{item.ordCnclBnfAmt},
            now(),
            'admin',
            now(),
            'admin')
        </foreach>
    </insert>

    <insert id="insertOrderBenefitRelation" parameterType="java.util.List">
        INSERT INTO op_ord_bnf_rel_info
            (ord_no,
            ord_seq,
            proc_seq,
            ord_bnf_no,
            aply_cncl_ccd,
            aply_amt,
            sys_reg_dtime,
            sys_regr_id,
            sys_mod_dtime,
            sys_modr_id)
        VALUES
            <foreach collection="list" item="item">
            (#{item.ordNo},
             #{item.ordSeq},
             #{item.procSeq},
             #{item.ordBnfNo},
             #{item.aplyCnclCcd},
             #{item.aplyAmt},
             now(),
             'admin',
             now(),
             'admin')
            </foreach>
    </insert>
</mapper>