<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.ec1.claim.mapper.ClaimTrxMapper">
    <insert id="insertMonitoringLog" parameterType="com.plateer.ec1.common.model.order.OpOrdClmMntLogModel">
        <selectKey keyProperty="logSeq" resultType="long" order="BEFORE">
            SELECT NEXTVAL('op_ord_clm_mnt_log_log_seq_seq')
        </selectKey>
        INSERT INTO op_ord_clm_mnt_log
        (
        log_seq, ord_no, req_pram, sys_reg_dtime, sys_regr_id, sys_mod_dtime, sys_modr_id
        )
        VALUES
        (
        #{logSeq}, #{ordNo}, (#{reqPram})::json,
        now(), 'admin', now(), 'admin'
        )
    </insert>

    <update id="updateMonitoringLog" parameterType="com.plateer.ec1.common.model.order.OpOrdClmMntLogModel">
        UPDATE op_ord_clm_mnt_log
        SET ins_data = (#{insData})::json
          , sys_mod_dtime = now()
          , sys_modr_id = 'admin'
        WHERE
            ord_no = #{ordNo}
          AND
            log_seq = #{logSeq}
    </update>

    <insert id="insertOpClmInfo" parameterType="java.util.List">
        INSERT INTO op_clm_info
        (
        ord_no,
        ord_seq,
        proc_seq,
        ord_goods_no,
        ord_item_no,
        ord_clm_tp_cd,
        dv_rvt_ccd,
        ord_amt,
        ord_cnt,
        cncl_cnt,
        rtgs_cnt,
        dv_grp_no,
        ord_prgs_scd,
        clm_no,
        org_proc_seq,
        ord_clm_req_dtime,
        ord_clm_acpt_dtime,
        ord_clm_cmt_dtime,
        sys_reg_dtime,
        sys_regr_id,
        sys_mod_dtime,
        sys_modr_id
        )
        VALUES
        <foreach collection="list" item="item">
            (
            #{item.ordNo},
            #{item.ordSeq},
            #{item.procSeq},
            #{item.ordGoodsNo},
            #{item.ordItemNo},
            #{item.ordClmTpCd},
            #{item.dvRvtCcd},
            #{item.ordAmt},
            #{item.ordCnt},
            #{item.cnclCnt},
            #{item.rtgsCnt},
            #{item.dvGrpNo},
            #{item.ordPrgsScd},
            #{item.clmNo},
            #{item.orgProcSeq},
            now(),
            now(),
            now(),
            now(),
            'admin',
            now(),
            'admin'
            )
        </foreach>
    </insert>

    <update id="updateOpClmInfo" parameterType="java.util.List">
        UPDATE op_clm_info
        SET
        <foreach collection="list" item="item">
            cncl_cnt = #{item.ordCnt}
        WHERE
            ord_no = #{item.ordNo}
          AND
            ord_seq = #{item.ordSeq}
          AND
            proc_seq = #{item.orgProcSeq}
        </foreach>
    </update>
</mapper>