<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.ec1.promotion.mapper.CouponMapper">
    <select id="getDownloadCouponList" resultType="com.plateer.ec1.common.model.promotion.CcPrmBase">
        SELECT a.prm_no, a.prm_nm, a.prm_strt_dt, a.prm_end_dt
          FROM cc_prm_base AS a JOIN cc_cpn_base AS b ON a.prm_no = b.prm_no
         WHERE a.use_yn = 'Y'
           AND a.prm_strt_dt &lt; current_date
           AND current_date &lt; a.prm_end_dt
           AND b.dwl_avl_strt_dd::date  &lt; current_date
           AND  current_date &lt; b.dwl_avl_end_dd ::date
           AND b.psn_dwl_psb_cnt > (SELECT COUNT(prm_no)
                                      FROM cc_cpn_issue cci
                                     WHERE mbr_no=#{mbrNo})
    </select>


    <select id="checkAvailableDownloadCoupon" resultType="integer">
        SELECT ((SELECT dwl_psb_cnt FROM cc_cpn_base WHERE prm_no = #{prmNo}) - COUNT(mbr_no))
          FROM cc_cpn_issue
         WHERE prm_no = #{prmNo}
    </select>

    <insert id="insertCouponIssue">
        INSERT INTO public.cc_cpn_issue
        (
            mbr_no,
            sys_reg_dtime,
            sys_regr_id,
            sys_mod_dtime,
            sys_modr_id,
            prm_no
        )
        VALUES
        (
            #{mbrNo},
            now(),
            'admin',
            now(),
            'admin',
            #{prmNo}
        );
    </insert>
</mapper>