<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.ec1.promotion.mapper.CouponMapper">
    <select id="getDownloadCouponList" resultType="com.plateer.ec1.common.model.promotion.CcCpnBase">
        select b.*
          from cc_prm_base as a join cc_cpn_base as b on a.prm_no = b.prm_no
         where a.prm_strt_dt &lt; current_date
           and current_date &lt; a.prm_end_dt
           and b.dwl_avl_strt_dd::date &lt; current_date
           and  current_date &lt; b.dwl_avl_end_dd ::date
           and b.dwl_psb_cnt > 0
    </select>

    <insert id="insertCouponIssue">
        INSERT INTO public.cc_cpn_issue
        (
            mbr_no,
            sys_reg_dtime,
            sys_regr_id,
            sys_mod_dtime,
            sys_modr_id,
            prm_no
        )
        values
        (
            'test01',
            now(),
            'admin',
            now(),
            'admin',
            1
        );
    </insert>

    <update id="updateCouponBase">
        update cc_cpn_base
           set dwl_psb_cnt = dwl_psb_cnt -1
         where prm_no = 1 and dwl_psb_cnt &gt; 0;
    </update>
</mapper>