<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.ec1.promotion.mapper.PromotionMapper">
    <select id="validateCoupon" resultType="boolean">
        SELECT b.dwl_psb_cnt > (SELECT COUNT(mbr_no)
                                              FROM cc_cpn_issue
                                              WHERE prm_no = #{prmNo})
                        FROM cc_prm_base AS a JOIN cc_cpn_base AS b ON a.prm_no = b.prm_no
                       WHERE a.prm_No = #{prmNo}
                         AND a.use_yn = 'Y'
                         AND current_date BETWEEN a.prm_strt_dt AND a.prm_end_dt
                         AND current_date BETWEEN b.dwl_avl_Strt_dd::date AND b.dwl_avl_end_dd::date
                         AND b.psn_dwl_psb_cnt > (SELECT COUNT(prm_no)
                                                   FROM cc_cpn_issue
                                                   WHERE mbr_no=#{mbrNo}
                                                     AND prm_no=#{prmNo})
    </select>

    <select id="verifyUseCoupon" resultType="boolean">
        SELECT EXISTS(SELECT current_date BETWEEN prm_strt_dt AND prm_end_dt
                        FROM cc_prm_base AS a JOIN cc_cpn_issue AS b ON a.prm_no = b.prm_no
                       WHERE b.cpn_iss_no = #{cpnIssNo}
                         AND b.cpn_use_dt IS NULL
                         AND b.ord_no IS NULL)
    </select>

    <select id="verifyCancelCoupon" resultType="boolean">
        SELECT EXISTS(SELECT current_date BETWEEN a.prm_strt_dt AND a.prm_end_dt
                        FROM cc_prm_base AS a JOIN cc_cpn_issue AS b ON a.prm_no = b.prm_no
                       WHERE b.cpn_iss_no = #{cpnIssNo}
                         AND b.cpn_use_dt IS NOT NULL
                         AND b.ord_no = #{ordNo}
                         AND NOT EXISTS (SELECT 1
                                        FROM cc_cpn_issue
                                        WHERE org_cpn_iss_no = #{cpnIssNo}))
    </select>

    <select id="getCartCouponInfo" resultType="com.plateer.ec1.promotion.vo.PromotionVo">
        SELECT cpb.prm_no , cpb.prm_nm , cpb.prm_kind_cd , cpb.prm_strt_dt , cpb.prm_end_dt , cpb.dc_ccd , cpb.dc_val , cpb.min_pur_amt , cpb.max_dc_amt , cpb.use_yn ,
               cpat.aply_tgt_ccd , cpat.aply_tgt_no ,
               ccb.prm_no , ccb.cpn_kind_cd , ccb.degr_ccd , ccb.mda_gb , ccb.ent_chn_gb ,
            cci.cpn_iss_no , cci.mbr_no , cci.cpn_use_dt
          FROM cc_prm_base cpb , cc_prm_aply_tgt cpat , cc_cpn_base ccb , cc_cpn_issue cci
         WHERE cci.mbr_no = #{mbrNo}
           AND cpb.prm_no = cpat.prm_no
           AND cpb.prm_no = ccb.prm_no
           AND cpb .prm_no = cci.prm_no
    </select>

    <select id="getProductInfo" resultType="com.plateer.ec1.product.vo.ProductVo">
        SELECT pgb.goods_no , pgb.goods_nm , pgb.goods_tp_cd , pgb.sale_prc , pgb.prm_prc ,pgb.prgs_stat_cd , pgb.goods_dlv_tp_cd ,
               pii.item_no , pii.item_nm
          FROM pr_goods_base pgb , pr_item_info pii
         WHERE pgb.goods_no = pii.goods_no
           AND pgb.goods_no = #{goodsNo}
           AND pii.item_no = #{itemNo}
    </select>
</mapper>